<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>servlets.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>servlets.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapaServlet</servlet-name>
        <servlet-class>servlets.MapaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionServlet</servlet-name>
        <servlet-class>servlets.InformacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consejos</servlet-name>
        <servlet-class>servlets.ConsejosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <servlet-class>servlets.AgregarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidoServlet</servlet-name>
        <servlet-class>servlets.BienvenidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesafioServlet</servlet-name>
        <servlet-class>servlets.DesafioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesafioCompletadoServlet</servlet-name>
        <servlet-class>servlets.DesafioCompletadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosUsuarioServlet</servlet-name>
        <servlet-class>servlets.DatosUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapaServlet</servlet-name>
        <url-pattern>/mapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consejos</servlet-name>
        <url-pattern>/consejos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <url-pattern>/agregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidoServlet</servlet-name>
        <url-pattern>/bienvenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionServlet</servlet-name>
        <url-pattern>/aprendeareciclar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesafioServlet</servlet-name>
        <url-pattern>/desafios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesafioCompletadoServlet</servlet-name>
        <url-pattern>/gracias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosUsuarioServlet</servlet-name>
        <url-pattern>/miusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
